h1 {
  text-align: center;
  color: rgba(0, 0, 255, 0.656);
  font-size: 48px;
}
section {
  text-align: center;
  border-radius: 20px;
  background-color: rgba(225, 233, 230, 0.723);
  margin: 100px;
  padding: 10px 0px 10px 0px;
  border-style: ridge;
  border-color: rgb(167, 189, 191);
}
body {
  background-color: rgba(175, 207, 229, 0.786);
}
nav {
  text-align: center;
  font-size: 20px;
}
header {
  background-color: rgb(139, 114, 207);
  padding: 20px;
  border-radius: 20px;
}
nav a {
  text-decoration: none;
  color: rgb(6, 17, 18);
  margin: 10px;
}
nav a:hover {
  color: rgb(55, 194, 57);
  border-radius: 10px;
}
button {
  background-color: rgb(139, 114, 207);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 20px;
  width: 20%;
}
button:hover {
  color: rgb(55, 194, 57);
}
label {
  font-size: 20px;
  color: rgb(6, 17, 18);
}