h1 {
  font-size: 48px;
  color: rgba(55, 194, 57, 0.525);
  text-align: center;
  margin: 30px;
}

body {
  background-color: rgb(227, 251, 235);
}

img {
  border: 3px solid black;
  width: 250px;
  height: 250px;
}
section {
  padding: 20px;
}
.important {
color: rgb(6, 17, 18);}
